<ng-container *ngIf="currentUser">

  <div class="dashboard">
    <h2>Tableaux de board</h2>

    <!--div class="card">
      <div card-head>text</div>
      <div card-body>text</div>
    </div-->

    <ng-container>
      <div class="bar"></div>
      <iframe title="Dashboard" width="1700" height="750" src="https://app.powerbi.com/reportEmbed?reportId=9ae650e7-9a22-4a70-b79c-ebff6d609214&autoAuth=true&ctid=6f07f79b-03b1-44e1-b221-7fa1001b22ac" frameborder="0" allowFullScreen="true"></iframe>
    </ng-container>

  </div>

</ng-container>

