h2 {
  font-family: 'Sentinel Pro';
  color: #457b9d;
  font-weight: 800;
}

.bar {
  background-color: #f1faee;
  position: absolute;
  z-index: 999;
  bottom: 0;
  height: 6.5em;
  width: 95%;
}

/*iframe {
  //transform: scale(1.2);
}*/
