.title {
  font-family: 'Sentinel Pro';
  color: #457b9d;
  font-weight: 900;
  padding-left: 1.5rem;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;

  mat-form-field {
    width: 55em;
  }

  mat-error {
    margin-top: -5px;
    margin-bottom: 40px;
  }

  button {
    background-color: #457b9d;
    color: #fff
  }
}

// Snackbar

::ng-deep .custom-snackbar-error {
  --mdc-snackbar-container-color: #e63946;
  color: #fff;
  --mdc-snackbar-supporting-text-color: #fff;
  --mat-mdc-snack-bar-button-color: #fff;

  button {
    border: none;
    --mdc-snackbar-container-color: #e63946;
    color: #fff;
    --mat-mdc-snack-bar-button-color: #fff;
    --mat-mdc-snack-bar-button-color: #fff;
    --mat-snack-bar-button-color: #fff;
  }
}

::ng-deep .custom-snackbar-success {
  --mdc-snackbar-container-color: #1d3557;
  color: #fff;
  --mdc-snackbar-supporting-text-color: #fff;
  --mat-mdc-snack-bar-button-color: #fff;

  button {
    border: none;
    --mdc-snackbar-container-color: #1d3557;
    color: #fff;
    --mat-mdc-snack-bar-button-color: #fff;
    --mat-mdc-snack-bar-button-color: #fff;
    --mat-snack-bar-button-color: #fff;
  }
}
