<ng-container *ngIf="currentUser">
  <div class="update-password-form" *ngIf="updatePasswordForm">
    <h2 class="title">Modifier le mot de passe</h2>
    <form [formGroup]="updatePasswordForm" (ngSubmit)="updatePassword()">
      <mat-form-field>
        <mat-label>Entrez votre mot de passe actuel</mat-label>
        <input matInput name="password" [type]="hide[0] ? 'password' : 'text'" formControlName="oldPassword">
        <mat-icon matSuffix (click)="hide[0] = !hide[0]" [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide">{{hide[0] ? 'visibility_off' : 'visibility'}}</mat-icon>
      </mat-form-field>
      <div
        *ngIf="updatePasswordForm.controls['oldPassword'].invalid && (updatePasswordForm.controls['oldPassword'].dirty || updatePasswordForm.controls['oldPassword'].touched)">
        <div *ngFor="let error of update_password_form_messages.oldPassword">
          <mat-error *ngIf="updatePasswordForm.controls['oldPassword'].hasError(error.type)">{{ error.message
            }}</mat-error>
        </div>
      </div>

      <mat-form-field>
        <mat-label>Nouveau mot de passe</mat-label>
        <input matInput name="password" [type]="hide[1] ? 'password' : 'text'" formControlName="newPassword">
        <mat-icon matSuffix (click)="hide[1] = !hide[1]" [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide">{{hide[1] ? 'visibility_off' : 'visibility'}}</mat-icon>
      </mat-form-field>
      <div
        *ngIf="updatePasswordForm.controls['newPassword'].invalid && (updatePasswordForm.controls['newPassword'].dirty || updatePasswordForm.controls['newPassword'].touched)">
        <div *ngFor="let error of update_password_form_messages.newPassword">
          <mat-error *ngIf="updatePasswordForm.controls['newPassword'].hasError(error.type)">{{ error.message
            }}</mat-error>
        </div>
      </div>

      <mat-form-field>
        <mat-label>Confirmer votre nouveau mot de passe</mat-label>
        <input matInput name="password" [type]="hide[2] ? 'password' : 'text'" formControlName="confirmPassword">
        <mat-icon matSuffix (click)="hide[2] = !hide[2]" [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide">{{hide[2] ? 'visibility_off' : 'visibility'}}</mat-icon>
      </mat-form-field>
      <div
        *ngIf="updatePasswordForm.controls['confirmPassword'].invalid && (updatePasswordForm.controls['confirmPassword'].dirty || updatePasswordForm.controls['confirmPassword'].touched)">
        <div *ngFor="let error of update_password_form_messages.confirmPassword">
          <mat-error *ngIf="updatePasswordForm.controls['confirmPassword'].hasError(error.type)">{{ error.message
            }}</mat-error>
        </div>
      </div>

      <button mat-flat-button type="submit">Mettre à jour</button>
    </form>
  </div>
</ng-container>
