.results-list {
  width: 90%;
  background-color: white;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 0px 8px #ddd;
  border-radius: 10px;
  margin-top: 6rem;
  margin-left: 50px;
  max-height: 300px;
  overflow-y: auto;
}
